.pagination{
  position: fixed;
  bottom: 0;
  left: 0;
  grid-column: 1/-1;
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  gap: 32px;

  backdrop-filter: blur(24px) saturate(50%);
  -webkit-backdrop-filter: blur(16px) saturate(180%);
  background-color: rgba(56, 12, 18, 0.25);
  border: 1px solid rgba(255, 255, 255, 0.125);
  filter: drop-shadow(0 30px 10px rgba(0, 0, 0, 0.125));
  padding: 16px;

  span {
    color: white;
  }
}