.card__list {
  // display: grid;
  // --columns: 5;
  @include flex (row, center, center);

  flex-wrap: wrap;
  gap: 16px;

  margin-top: 80px;

  grid-column: 1/-1;
  // grid-template-columns: repeat(var(--columns),1fr);
}